* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.container {
  max-width: 375px;
  height: 1198px;
  margin: 85px 31px 75px;
}

.intro {
  margin-bottom: 75px;
  text-align: center;
  line-height: 33px;
}

.intro h1 {
  font-weight: 200;
  line-height: 33px;
  margin-bottom: 4px;
  color: #a3a5ae;
}

.intro h2 {
  color: #4c4e61;
  font-weight: 700;
}

.intro p {
  font-size: 0.9375rem;
  color: #a3a5ae;
  margin: 16px 0 0 0;
  line-height: 25px;
}

.cards h2 {
  display: none;
}

.supervisor,
.team-builder,
.karma,
.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 221px;
  margin-top: 25px;
  padding: 27px 28px 28px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 100, 0.1);
          box-shadow: 0px 15px 20px rgba(0, 0, 100, 0.1);
}

.supervisor h3,
.team-builder h3,
.karma h3,
.calculator h3 {
  color: #4c4e61;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
}

.supervisor p,
.team-builder p,
.karma p,
.calculator p {
  font-size: 0.8125rem;
  color: #a3a5ae;
  margin: 4px auto auto;
  text-align: left;
}

.supervisor img,
.team-builder img,
.karma img,
.calculator img {
  width: 57px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.supervisor {
  border-top: 4px solid #45d3d3;
}

.team-builder {
  border-top: 4px solid #ea5353;
}

.karma {
  border-top: 4px solid #fcaf4a;
}

.calculator {
  border-top: 4px solid #549ef2;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .container {
    max-width: 800px;
    height: unset;
  }
  .intro {
    text-align: center;
    font-size: 1.25rem;
    line-height: 33px;
    width: 70%;
    margin: 0 auto;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    margin: 50px 31px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1110px;
    height: unset;
    margin: 80px auto 75px;
  }
  .intro {
    margin-bottom: 64px;
    width: 47.5%;
  }
  .intro h1 {
    margin-bottom: 10px;
    font-size: 2.25rem;
    line-height: 50px;
  }
  .intro h2 {
    font-size: 2.25rem;
  }
  .intro p {
    margin: 24px 0 0 0;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 30px;
        grid-template-areas: "supervisor team-builder calculator" "supervisor karma calculator";
    margin: 0 auto;
  }
  .supervisor {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: supervisor;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .team-builder {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: team-builder;
  }
  .karma {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: karma;
  }
  .calculator {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: calculator;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .supervisor,
  .team-builder,
  .karma,
  .calculator {
    padding: 28px 32px 32px;
    margin-top: 0;
    height: 250px;
  }
  .supervisor p,
  .team-builder p,
  .karma p,
  .calculator p {
    margin: 8px auto 0;
  }
  .supervisor img,
  .team-builder img,
  .karma img,
  .calculator img {
    width: 64px;
  }
  .supervisor:hover img,
  .team-builder:hover img,
  .karma:hover img,
  .calculator:hover img {
    -webkit-animation: rotation 1.5s;
            animation: rotation 1.5s;
  }
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotation {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
}
