@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 750px;
}

header {
    padding: 46px 34px;
    background: $very-pale-cyan url(./images/bg-hero-mobile.svg) no-repeat;
    background-size: cover;
    text-align: center;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 30%;
            margin: 10px 0;
        }
    }

    ul {
        list-style: none;

        .try-free {
            text-decoration: none;
            background-color: white;
            padding: 10px 42px;
            border-radius: 50px;
            color: $very-dark-cyan;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3125rem;
            font-weight: 700;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: whitesmoke;
            }
        }
    }

    .hero-section {
        margin: 162px 40px 15px;
    
        h1 {
           font-family: 'Poppins', sans-serif;
           font-size: 3rem;
           color: $very-dark-cyan;
        }
    
        p {
            font-size: 2rem;
            margin: 42px 0 88px 0;
            line-height: 1.5;
        }

        .mockup {
            width: 100%;
            margin-top: 130px;
        }
    }
}

.get-started-1,
.get-started-2 {
    color: white;
    background-color: $pink;
    text-decoration: none;
    padding: 24px 120px;
    width: 100%;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: lighten($color: $pink, $amount: 10);
    }
}

.get-started-2 {
    padding: 24px 100px;
    font-size: 1.25rem;
}

.blocks {
    margin: 120px 0 0 0;

    article {
        text-align: center;
        margin: 0 38px 80px;
        padding: 112px 100px 70px;
        border-radius: 35px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
        img {
            width: 100%;
        }
    
        h2 {
            font-family: 'Poppins', sans-serif;
            color: $very-dark-cyan;
            font-size: 2.5rem;
            margin: 105px 0 31px 0;
        }
    
        p {
            font-size: 1.6875rem;
            margin: 0 -20px;
            letter-spacing: 0.5px;
            line-height: 1.55;
            color: $grayish-blue;
        }
    }

    .overlap {
        position: relative;
        top: 160px;
        margin: 0 20px;
        padding: 90px 48px 110px;
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        z-index: 100;
        background-color: white;
    
        h2 {
            margin-bottom: 70px;
            font-family: 'Poppins', sans-serif;
            font-size: 2.25rem;
            color: $very-dark-cyan;
        }
    }
}


footer {
    background-color: $very-dark-cyan;
    padding: 300px 34px 70px;
    color: white;

    .footer-logo {
        width: 48%;
        color: white;
        margin-bottom: 45px;
    }

    .footer-contact {
        display: flex;
        flex-direction: row;
        margin-bottom: 45px;

        img {
            margin-top: 10px;
            height: 30px;
        }

        p {
            margin: 0 10px 0 55px;
            font-size: 2rem;
        }
    }

    .footer-links {
            margin-top: 80px;
        }

    ul {
        list-style: none;

        li {
            margin-bottom: 25px;

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            text-decoration: none;
            color: white ;
            font-size: 1.75rem;
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        margin: 80px 0 40px 0;

        .facebook,
        .twitter,
        .instagram {
            color: white; 
            border: white solid 2px;
            border-radius: 50%;
            text-align: center;

            &:hover {
                color: $pink;
                border-color: $pink;
            }
        }

        .facebook {
            padding: 7px 13px;
        }

        .twitter {
            padding: 7px 10px;
            margin: 0 15px;
        }

        .instagram {
            padding: 7px 11px;
        }
    }

    .copyright {
        text-align: center;
    }
}

/* MEDIA QUEIRES */
@media (min-width: 1140px) {
    .container {
        max-width: 1440px;
    }

    header {
        padding: 30px 80px;
        background: $very-pale-cyan url(./images/bg-hero-desktop.svg) no-repeat;
        text-align: left;
    
        .top {
    
            .logo {
                width: 15.5%;
                margin: 26px 0;
            }
        }
    
        ul {
            .try-free {
                padding: 12px 62px;
                font-size: 0.9375rem;
            }
        }
    
        .hero-section {
            margin: 0px 5px 25px 0;
            display: flex;
            align-items: center;

            .hero-text {
                width: 45%;
                display: flex;
                flex-direction: column;
                margin-top: 0px;
            }
        
            h1 {
               font-size: 2.625rem;
               letter-spacing: -1.5px;
               padding: 45px 50px 0 0;
            }
        
            p {
                font-size: 1.125rem; 
                margin: 25px 60px 30px 0;
                line-height: 1.6;
            }
    
            .hero-img {
                width: 55%;
            }

            .mockup {
                margin-top: 45px;
            }
        }
    }

    .get-started-1 {
        display: block;
        text-align: center;
        padding: 18px 30px;
        width: 48%;
        font-size: 0.875rem;
    }

    .get-started-2 {
        padding: 26px 100px;   
    }

    .blocks {
        margin: 160px 0 24px 0;
        padding: 0 65px;
    
        article {
            height: 440px;
            display: flex;
            text-align: left;
            align-items: center;
            margin: 0 38px 40px;
            padding: 55px 30px 50px 0;
            border-radius: 15px;
            box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
        
            img {
                width: 400px;
                height: auto;
            }
        
            h2 {
                font-size: 1.75rem;
                margin: 0px 0 10px 0;
                padding: 0 0 0 121px;
            }
        
            p {
                font-size: 1.0625rem;
                margin: 0;
                padding: 0 190px 0 121px;
            }
        }

        .grow-together,
        .your-users {
            flex-direction: row-reverse;
        }

        .conversations {
            padding-left: 121px;

            .conversations-text {
                margin-left: 170px;

                h2,
                p {
                    padding-left: 0;
                    padding-right: 10px;
                }
            }
        }
    
        .overlap {
            top: 120px;
            padding: 65px 48px 80px;
            border-radius: 20px;
            box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
            width: 61%;
            margin: 0 auto;
        
            h2 {
                margin-bottom: 61px;
                font-size: 2rem;
            }
        }
    }

    footer {
        padding: 0;
        margin: 0;
        width: 100%;
        
        .footer-content {
            margin: 190px auto 0;
        }

        .content-inner {
            display: flex;
            justify-content: space-between;
            padding: 0 160px;
        }
    
        .footer-logo {
            display: block;
            width: 236px;
            margin: 0 0 40px 160px;
        }
    
        .footer-contact {
            max-width: 380px;
            margin-bottom: 20px;
    
            img {
                height: 18px;
            }
    
            p {
                margin-left: 27.5px;
                padding-right: 0px;
                font-size: 1rem;
                align-self: flex-end;
                line-height: 1.5;
            }
        }
    
        .footer-links {
                margin: 0;
                margin-left: -30px;    
            }
    
        ul {
    
            li {
                margin-bottom: 19px;
            }
    
            a {
                font-size: 1.125rem;
            }
        }
    
        .socials {
            margin: 0;
            padding-top: 10px;
    
            .facebook {
                padding: 6px 12px;
            }
    
            .twitter {
                padding: 6px 9px;
                margin: 0 10px;
            }
    
            .instagram {
                padding: 6px 10px;
            }
        }
    
        .copyright {
            margin: 24px 120px 60px 0;
            text-align: right;
            font-size: 0.75rem;
        }
    }
}

@media (max-width: 749px) {
    .container {
        max-width: 460px;
    }

    header {
        padding: 40px 20px;
        margin: 0;
    
        .top {
            .logo {
                max-width: 104px;
                margin: 10px;
            }
        }
    
        ul {
            .try-free {
                padding: 6px 16px;
                font-size: 0.725rem;
            }
        }
    
        .hero-section {
            margin: 80px 0px 15px;
        
            h1 {
               font-size: 1.65rem;
            }
        
            p {
                font-size: 1.125rem;
                margin: 35px 0 40px;
            }
    
            .mockup {
                margin-top: 75px;
            }
        }
    }

    .get-started-1,
    .get-started-2 {
        padding: 10px 20px;
        font-size: 0.8125rem;
    }

    .get-started-2 {
        padding: 8px 16px;
    }

    .blocks {
        margin: 75px 0 0 0;
    
        article {
            margin: 0 20px 40px;
            padding: 30px 20px 40px;
                
            h2 {
                font-size: 1.375rem;
                margin: 30px 0 25px 0;
            }
        
            p {
                font-size: 1rem;
                margin: 0;// -20px;
            }
        }
    
        .overlap {
            top: 80px;
            padding: 50px 20px 50px;
        
            h2 {
                margin-bottom: 30px;
                font-size: 1.125rem;
            }
        }
    }

    footer {
        padding: 200px 20px 70px;
    
        .footer-logo {
            max-width: 240px;
            margin-bottom: 30px;
        }
    
        .footer-contact {
            margin-bottom: 25px;
    
            img {
                margin-top: 0;
                height: 20px;
            }
    
            p {
                margin-left: 15px;
                font-size: 1rem;
            }
        }
    
        .footer-links {
                margin-top: 50px;
            }
    
        ul {
    
            li {
                margin-bottom: 15px;
            }
    
            a {
                font-size: 1rem;
            }
        }
      
        .copyright {
            font-size: 0.825rem;
        }
    }  
}