@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 750px;
}

header {
  padding: 46px 34px;
  background: #ebfbff url(./images/bg-hero-mobile.svg) no-repeat;
  background-size: cover;
  text-align: center;
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .logo {
  width: 30%;
  margin: 10px 0;
}

header ul {
  list-style: none;
}

header ul .try-free {
  text-decoration: none;
  background-color: white;
  padding: 10px 42px;
  border-radius: 50px;
  color: #00252e;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3125rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

header ul .try-free:hover {
  background-color: whitesmoke;
}

header .hero-section {
  margin: 162px 40px 15px;
}

header .hero-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #00252e;
}

header .hero-section p {
  font-size: 2rem;
  margin: 42px 0 88px 0;
  line-height: 1.5;
}

header .hero-section .mockup {
  width: 100%;
  margin-top: 130px;
}

.get-started-1,
.get-started-2 {
  color: white;
  background-color: #ff52bf;
  text-decoration: none;
  padding: 24px 120px;
  width: 100%;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.get-started-1:hover,
.get-started-2:hover {
  background-color: #ff85d2;
}

.get-started-2 {
  padding: 24px 100px;
  font-size: 1.25rem;
}

.blocks {
  margin: 120px 0 0 0;
}

.blocks article {
  text-align: center;
  margin: 0 38px 80px;
  padding: 112px 100px 70px;
  border-radius: 35px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blocks article img {
  width: 100%;
}

.blocks article h2 {
  font-family: 'Poppins', sans-serif;
  color: #00252e;
  font-size: 2.5rem;
  margin: 105px 0 31px 0;
}

.blocks article p {
  font-size: 1.6875rem;
  margin: 0 -20px;
  letter-spacing: 0.5px;
  line-height: 1.55;
  color: #808d99;
}

.blocks .overlap {
  position: relative;
  top: 160px;
  margin: 0 20px;
  padding: 90px 48px 110px;
  text-align: center;
  border-radius: 28px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  background-color: white;
}

.blocks .overlap h2 {
  margin-bottom: 70px;
  font-family: 'Poppins', sans-serif;
  font-size: 2.25rem;
  color: #00252e;
}

footer {
  background-color: #00252e;
  padding: 300px 34px 70px;
  color: white;
}

footer .footer-logo {
  width: 48%;
  color: white;
  margin-bottom: 45px;
}

footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 45px;
}

footer .footer-contact img {
  margin-top: 10px;
  height: 30px;
}

footer .footer-contact p {
  margin: 0 10px 0 55px;
  font-size: 2rem;
}

footer .footer-links {
  margin-top: 80px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 25px;
}

footer ul li:hover {
  text-decoration: underline;
}

footer ul a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 40px 0;
}

footer .socials .facebook,
footer .socials .twitter,
footer .socials .instagram {
  color: white;
  border: white solid 2px;
  border-radius: 50%;
  text-align: center;
}

footer .socials .facebook:hover,
footer .socials .twitter:hover,
footer .socials .instagram:hover {
  color: #ff52bf;
  border-color: #ff52bf;
}

footer .socials .facebook {
  padding: 7px 13px;
}

footer .socials .twitter {
  padding: 7px 10px;
  margin: 0 15px;
}

footer .socials .instagram {
  padding: 7px 11px;
}

footer .copyright {
  text-align: center;
}

/* MEDIA QUEIRES */
@media (min-width: 1140px) {
  .container {
    max-width: 1440px;
  }
  header {
    padding: 30px 80px;
    background: #ebfbff url(./images/bg-hero-desktop.svg) no-repeat;
    text-align: left;
  }
  header .top .logo {
    width: 15.5%;
    margin: 26px 0;
  }
  header ul .try-free {
    padding: 12px 62px;
    font-size: 0.9375rem;
  }
  header .hero-section {
    margin: 0px 5px 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero-section .hero-text {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  header .hero-section h1 {
    font-size: 2.625rem;
    letter-spacing: -1.5px;
    padding: 45px 50px 0 0;
  }
  header .hero-section p {
    font-size: 1.125rem;
    margin: 25px 60px 30px 0;
    line-height: 1.6;
  }
  header .hero-section .hero-img {
    width: 55%;
  }
  header .hero-section .mockup {
    margin-top: 45px;
  }
  .get-started-1 {
    display: block;
    text-align: center;
    padding: 18px 30px;
    width: 48%;
    font-size: 0.875rem;
  }
  .get-started-2 {
    padding: 26px 100px;
  }
  .blocks {
    margin: 160px 0 24px 0;
    padding: 0 65px;
  }
  .blocks article {
    height: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 38px 40px;
    padding: 55px 30px 50px 0;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
  }
  .blocks article img {
    width: 400px;
    height: auto;
  }
  .blocks article h2 {
    font-size: 1.75rem;
    margin: 0px 0 10px 0;
    padding: 0 0 0 121px;
  }
  .blocks article p {
    font-size: 1.0625rem;
    margin: 0;
    padding: 0 190px 0 121px;
  }
  .blocks .grow-together,
  .blocks .your-users {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blocks .conversations {
    padding-left: 121px;
  }
  .blocks .conversations .conversations-text {
    margin-left: 170px;
  }
  .blocks .conversations .conversations-text h2,
  .blocks .conversations .conversations-text p {
    padding-left: 0;
    padding-right: 10px;
  }
  .blocks .overlap {
    top: 120px;
    padding: 65px 48px 80px;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    width: 61%;
    margin: 0 auto;
  }
  .blocks .overlap h2 {
    margin-bottom: 61px;
    font-size: 2rem;
  }
  footer {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer .footer-content {
    margin: 190px auto 0;
  }
  footer .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 160px;
  }
  footer .footer-logo {
    display: block;
    width: 236px;
    margin: 0 0 40px 160px;
  }
  footer .footer-contact {
    max-width: 380px;
    margin-bottom: 20px;
  }
  footer .footer-contact img {
    height: 18px;
  }
  footer .footer-contact p {
    margin-left: 27.5px;
    padding-right: 0px;
    font-size: 1rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    line-height: 1.5;
  }
  footer .footer-links {
    margin: 0;
    margin-left: -30px;
  }
  footer ul li {
    margin-bottom: 19px;
  }
  footer ul a {
    font-size: 1.125rem;
  }
  footer .socials {
    margin: 0;
    padding-top: 10px;
  }
  footer .socials .facebook {
    padding: 6px 12px;
  }
  footer .socials .twitter {
    padding: 6px 9px;
    margin: 0 10px;
  }
  footer .socials .instagram {
    padding: 6px 10px;
  }
  footer .copyright {
    margin: 24px 120px 60px 0;
    text-align: right;
    font-size: 0.75rem;
  }
}

@media (max-width: 749px) {
  .container {
    max-width: 460px;
  }
  header {
    padding: 40px 20px;
    margin: 0;
  }
  header .top .logo {
    max-width: 104px;
    margin: 10px;
  }
  header ul .try-free {
    padding: 6px 16px;
    font-size: 0.725rem;
  }
  header .hero-section {
    margin: 80px 0px 15px;
  }
  header .hero-section h1 {
    font-size: 1.65rem;
  }
  header .hero-section p {
    font-size: 1.125rem;
    margin: 35px 0 40px;
  }
  header .hero-section .mockup {
    margin-top: 75px;
  }
  .get-started-1,
  .get-started-2 {
    padding: 10px 20px;
    font-size: 0.8125rem;
  }
  .get-started-2 {
    padding: 8px 16px;
  }
  .blocks {
    margin: 75px 0 0 0;
  }
  .blocks article {
    margin: 0 20px 40px;
    padding: 30px 20px 40px;
  }
  .blocks article h2 {
    font-size: 1.375rem;
    margin: 30px 0 25px 0;
  }
  .blocks article p {
    font-size: 1rem;
    margin: 0;
  }
  .blocks .overlap {
    top: 80px;
    padding: 50px 20px 50px;
  }
  .blocks .overlap h2 {
    margin-bottom: 30px;
    font-size: 1.125rem;
  }
  footer {
    padding: 200px 20px 70px;
  }
  footer .footer-logo {
    max-width: 240px;
    margin-bottom: 30px;
  }
  footer .footer-contact {
    margin-bottom: 25px;
  }
  footer .footer-contact img {
    margin-top: 0;
    height: 20px;
  }
  footer .footer-contact p {
    margin-left: 15px;
    font-size: 1rem;
  }
  footer .footer-links {
    margin-top: 50px;
  }
  footer ul li {
    margin-bottom: 15px;
  }
  footer ul a {
    font-size: 1rem;
  }
  footer .copyright {
    font-size: 0.825rem;
  }
}
