@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    border: 1px solid red;
}

article {
    border: 1px solid green;
}

.container {
    img {
        width: 300px;
        
    }
}

footer {
    background-color: $grayish-blue;
}