//Primary colours
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

//Accent
$blue: hsl(248, 32%, 49%);

//Neutral
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $red url(./images/bg-intro-mobile.png) no-repeat center;
    // background-size: contain;
}

.container {
    // border: red 1px solid;
    max-width: 375px;
    height: 1000px;
    padding: 92px 23px 68px 23px;
    text-align: center;
    color: white;
}

.intro-section {

    h1 {    
        font-size: 1.75rem;
        line-height: 1.25;
    }

    p {
        // font-size: 1rem;
        font-weight: 500;
        margin: 25px 0 62px 0;
        line-height: 1.65;
    }
}

.trial-text {
    font-weight: 400;
    background-color: $blue;
    border-radius: 8px;
    padding: 18px 60px;
    margin-bottom: 25px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.form-section {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 22px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);

    #first-name,
    #last-name,
    #email,
    #password {
        // display: block;
        width: 100%;
        padding: 19.5px;// 20px;
        border-radius: 5px;
        border: 1px solid $grayish-blue;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 0.2px;
        color: $dark-blue;
        margin-bottom: 16px;

        &::placeholder {
            font-family: 'Poppins', sans-serif;
        }
    }

    #submit {
        width: 100%;
        background-color: $green;
        border: 0px;
        border-radius: 5px;
        padding: 20px;
        color: white;
        text-transform: uppercase;
        // font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.2px;// 0.85px;
        box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.15);
    }

    .disclaimer {
        color: $grayish-blue;
        font-size: 0.7rem;
        padding: 8px 20px 0 20px;
        line-height: 2;

        b {
            color: $red;
        }
    }
}