//Colours
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    max-width: 375px;
    border: 1px solid red;
    margin: 0 auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px 20px;
}

.desktop-nav {
    display: none;
}

.hamburger {
    width: 36px;
    height: 36px;
}

.hero {
    padding: 0 24px;
    overflow: hidden;
}

.hero-img {
    width: 154%;
}

h1,
h2,
h3 {
    color: $very-dark-blue;
}

.hero-desc {
    margin: 30px 0 100px;
}

.hero-caption {
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero-text {
    color: $grayish-violet;
    font-size: 1.125rem;
    margin: 16px 0 30px;
}

.btn {
    background-color: $cyan;
    color: $white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    border: 1px solid $cyan;
    width: 60%;
    padding: 12px;
    border-radius: 50px;
}

.form {
    background-image: url(./images/bg-shorten-mobile.svg);
    background-color: $dark-violet;
    background-position: right 0;
    background-repeat: no-repeat;
    padding: 24px;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

#url {
    padding: 12px;
    margin: 0 0 16px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 1rem;

    // &::placeholder {
    //     font-size: 1rem;
    // }
}

.shorten-btn {
    padding: 8px;
    border-radius: 7px;
    width: unset;
}

.statistics {
    padding: 100px 0 50px;
    // background-color: $gray;
}

.cards {
    margin: 100px 0 50px;
}

.card {
    border: 1px solid green;
    margin: 0 24px 80px;
    border-radius: 6px;
    position: relative;
    padding: 60px 0 30px;
}


.card-img {
    background-color: $dark-violet;
    border-radius: 50%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
}

.card-img-3 {
    padding: 20px;
}