$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $dark-cyan;
    font-size: 18px;
    display: flex;
    height: 100vh;
    width: auto;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 20px; 
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .img-profile {
        height: auto;
        width: 105px;
        border-radius: 50%;
        border: solid 5px white;
        background-color: white;
        margin-top: -52.5px;
    };

    .profile {
        margin: 22.5px auto 25px auto;
    }
    
    h1 {
        color: $very-dark-desaturated-blue;
        font-size: 18px;
        letter-spacing: 1px;
    };

    p {
        margin-top: 11px;
        font-size: 14px;
        color: $dark-grayish-blue;
    };

    span {
        font-weight: 400;
        margin-left: 3px;
        color: $dark-gray;
        letter-spacing: 0;
    };
}

.pattern-top {
    position: absolute;
    bottom: 39%;
    right: 51%;
    z-index: -1;    
}

.pattern-bottom {
    position: absolute;
    top: 52%;
    left: 48%;
    z-index: -1;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 27.25px 50px 25px;
    border-top: 0.5px solid lighten($color: $dark-gray, $amount: 30);

    h2 {
        padding-bottom: 7.5px;
        text-align: center;
        color: $very-dark-desaturated-blue;
    };

    p {
        font-size: 10px;
        letter-spacing: 1.5px;
        color: $dark-grayish-blue;
    };
}

.followers,
.likes,
.photos {
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: 1.5px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .pattern-top {
        bottom: 40%;
        right: 47%;
    }

    .pattern-bottom {
        top: 46%;
        left: 36%;
        position: fixed;
        overflow: hidden;
    }

    body {
        width: 90%;
        margin: auto;
    }

    .stats {
        display: flex;
        margin: auto;
    }

    main {
        overflow: hidden;
    }
}

@media (max-width: 319px) {

    body {
        width: 90%;
        margin: auto;
    }

    .stats {
        display: flex;
        flex-direction: column;
        margin: auto;

        .followers,
        .likes,
        .photos {
            margin-top: 10px;
        };
    }
}