$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: $dark-grayish-blue;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bai Jamjuree', sans-serif;
    color: $grayish-blue;
}

.container {
    max-width: 375px;
    border-right: 1px solid red;
    border-left: 1px solid red;
    padding: 0 31px;
}

.header {
    padding: 122px 0 0 0;
    text-align: center;
    background: url(./images/bg-header-mobile.png) no-repeat;

}

.header__logo {
    display: block;
    margin: 0 auto;
}

.header__caption {
    margin: 65px 20px 18px;
    letter-spacing: -0.5px;
}

.header__text {
    margin: 0 32px 47px;
    line-height: 1.6;
}

.header__cta {
    display: flex;
    flex-direction: column;
    margin: 0 31px 100px;
}

.header__btn {
    padding: 16px 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.85px;
    border-radius: 50px;
    color: white;
    border: none;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.15);
}

.header__btn--ios {
    background-color: $strong-cyan;
    margin-bottom: 25px;
}

.header__btn--mac {
    background-color: $light-blue;
}

.main {
    text-align: center;
    padding-top: 60px;
}

.main__heading--l1 {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    margin-bottom: 18px;
}

.main__text {
    line-height: 1.6;
}

.main__features {
    margin-top: 65px;
    margin-bottom: 150px;
}

.main__img {
    width: 100%;    
}

.feature {
    margin: 0 10px;

    &:nth-of-type(1) {
        margin-top: 55px;
    }

    &:nth-of-type(2) {
        margin: 48px 10px;
    }
}

.main__heading--l2 {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}

.main__access {
    margin-top: 187px;
    margin-bottom: 95px;
}

.main__text--access {
    margin-bottom: 60px;
}

.access__img {
    margin-left: -16px;
    margin-right: -16px;
    width: 111%;
    display: block;
}

.main__text--workflow {
    margin-top: -5px;
    margin-bottom: 88px;
}

.workflows__block:nth-of-type(2) {
    margin: 56px 0 80px;
}

.workflows__img {
    margin-bottom: 37px;
}

.workflows__text {
    margin-top: 18px;
}