$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: $dark-grayish-blue;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bai Jamjuree', sans-serif;
    color: $grayish-blue;
}

.container {
    max-width: 700px;
    border-right: 1px solid red;
    border-left: 1px solid red;
    padding: 0 31px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 122px 0 0 0;
    text-align: center;
    background: url(./images/bg-header-mobile.png) no-repeat;
    background-size: cover;
    background-position: top center;
    // max-width: 750px;
}

.header-content {
    max-width: 700px;
}

.header-logo {
    display: block;
    margin: 0 auto;
}

.caption-l1 {
    margin: 65px 20px 18px;
    letter-spacing: -0.5px;
}

.header-text {
    margin: 0 32px 47px;
    line-height: 1.6;
}

.header-cta {
    display: flex;
    flex-direction: column;
    margin: 0 31px 100px;
}

.btn {
    padding: 16px 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.85px;
    border-radius: 50px;
    color: white;
    border: none;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.15);
}

.btn-ios {
    background-color: $strong-cyan;
    margin-bottom: 25px;
}

.btn-mac {
    background-color: $light-blue;
}

.main {
    text-align: center;
    padding-top: 60px;
}

.caption-l2 {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    margin-bottom: 18px;
}

.main-text {
    line-height: 1.6;
}

.main-features {
    margin-top: 65px;
    margin-bottom: 150px;
}

.main-img {
    width: 100%;    
}

.feature {
    margin: 0 10px;

    &:nth-of-type(1) {
        margin-top: 55px;
    }

    &:nth-of-type(2) {
        margin: 48px 10px;
    }
}

.caption-l3 {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}

.main-access {
    margin-top: 187px;
    margin-bottom: 95px;
}

.access-text {
    margin-bottom: 60px;
}

.main-text-workflow {
    margin-top: -5px;
    margin-bottom: 88px;
}

.workflow {
    margin-bottom: 56px;

    &:nth-of-type(3) {
        margin-top: 60px;
    }
}

.workflows-img-preview {
    margin-bottom: 60px;
}

.workflow-img {
    margin-bottom: 38px;
}

.workflow-text {
    margin-top: 18px;
}

.clients {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    margin: 132px 0 105px;
}

.clients-img {
    width: 45%;
    display: block;
    margin: 0 auto 65px;

    &:nth-of-type(2) {
        width: 37%;
        // margin-top: 65px;
        margin-bottom: 70px;
    }

    &:nth-of-type(3) {
        width: 42.5%;
    }

    &:nth-of-type(4) {
        width: 35%;
    }

    &:nth-of-type(5) {
        width: 34%;
        margin-top: -10px;
    }
}

.apps {
    margin-bottom: 170px;
}

.text-app {
    padding: 0 3px;
    margin-bottom: 47px;
}

.app-downloads {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.footer-logo {
    width: 45%;
}

.footer-nav {
    margin: 40px 0 48px;
}

.footer-nav-item {
    list-style: none;
    margin-bottom: 30px;
}

.footer-nav-link {
    text-decoration: none;
    color: $dark-grayish-blue;
    font-size: 1.0625rem;
    font-weight: 600;
}

.socials {
    margin-bottom: 50px;
}

.socials-link {
    text-decoration: none;

    &:nth-of-type(2) {
        padding: 0 36px;
    }
}

// MEDIA QUERIES
@media (min-width: 1140px) {
    .container {
        max-width: 1440px;
        padding: 0;
    }

    .header {
        padding: 130px;
        background: url(./images/bg-header-desktop.png) no-repeat;
        background-size: contain;
        width: 100%;
        // max-width: unset;
    }

    .header-content {
        max-width: unset;
    }

    .caption-l1 {
        font-size: 2.85rem;
        margin: 56px 20px 18px;
    }

    .header-text {
        font-size: 1.25rem;
        margin: 0 250px 48px;
        line-height: 1.5;
        letter-spacing: 0.1px;
    }

    .header-cta {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .btn {
        width: 19.25%;
    }

    .btn-ios {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .main {
        padding-top: 22px;
    }

    .caption-l2 {
        font-size: 2.25rem;
    }

    .main-text {
        font-size: 1.125rem;
        line-height: 1.7;
        // max-width: 1000px;
        margin: 0 340px 60px;
        letter-spacing: 0.1px;
    }

    .track {
        padding: 0 31px;
        margin-bottom: 78px;
    }

    .main-features {
        display: flex;
        // max-width: 100%;
    }

    .features-img {
        width: 52.3%;
        height: auto;
        margin-left: -33px;
    }

    .feature {
        margin: unset;
        text-align: left;
    }

    .feature-text {
        margin: 0;
    }
}