* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 375px;
}

.solutions-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
}

.solution-1,
.solution-2,
.solution-3,
.solution-4,
.solution-5,
.solution-7,
.solution-8,
.solution-9,
.solution-10 {
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.solution-1 .screenshot,
.solution-2 .screenshot,
.solution-3 .screenshot,
.solution-4 .screenshot,
.solution-5 .screenshot,
.solution-7 .screenshot,
.solution-8 .screenshot,
.solution-9 .screenshot,
.solution-10 .screenshot {
  width: 100%;
  border-top: 2px dotted #14c2c8;
  border-bottom: 3px solid #14c2c8;
}

.solution-1 .solution-details,
.solution-2 .solution-details,
.solution-3 .solution-details,
.solution-4 .solution-details,
.solution-5 .solution-details,
.solution-7 .solution-details,
.solution-8 .solution-details,
.solution-9 .solution-details,
.solution-10 .solution-details {
  margin: 20px 20px 30px;
}

.solution-1 .solution-details .technology,
.solution-2 .solution-details .technology,
.solution-3 .solution-details .technology,
.solution-4 .solution-details .technology,
.solution-5 .solution-details .technology,
.solution-7 .solution-details .technology,
.solution-8 .solution-details .technology,
.solution-9 .solution-details .technology,
.solution-10 .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.solution-1 .solution-details .technology .html,
.solution-2 .solution-details .technology .html,
.solution-3 .solution-details .technology .html,
.solution-4 .solution-details .technology .html,
.solution-5 .solution-details .technology .html,
.solution-7 .solution-details .technology .html,
.solution-8 .solution-details .technology .html,
.solution-9 .solution-details .technology .html,
.solution-10 .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.solution-1 .solution-details .technology .css,
.solution-2 .solution-details .technology .css,
.solution-3 .solution-details .technology .css,
.solution-4 .solution-details .technology .css,
.solution-5 .solution-details .technology .css,
.solution-7 .solution-details .technology .css,
.solution-8 .solution-details .technology .css,
.solution-9 .solution-details .technology .css,
.solution-10 .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.solution-1 .solution-details .technology .javascript,
.solution-2 .solution-details .technology .javascript,
.solution-3 .solution-details .technology .javascript,
.solution-4 .solution-details .technology .javascript,
.solution-5 .solution-details .technology .javascript,
.solution-7 .solution-details .technology .javascript,
.solution-8 .solution-details .technology .javascript,
.solution-9 .solution-details .technology .javascript,
.solution-10 .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.solution-1 .solution-details .technology .api,
.solution-2 .solution-details .technology .api,
.solution-3 .solution-details .technology .api,
.solution-4 .solution-details .technology .api,
.solution-5 .solution-details .technology .api,
.solution-7 .solution-details .technology .api,
.solution-8 .solution-details .technology .api,
.solution-9 .solution-details .technology .api,
.solution-10 .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.solution-1 .solution-details .solution-title,
.solution-2 .solution-details .solution-title,
.solution-3 .solution-details .solution-title,
.solution-4 .solution-details .solution-title,
.solution-5 .solution-details .solution-title,
.solution-7 .solution-details .solution-title,
.solution-8 .solution-details .solution-title,
.solution-9 .solution-details .solution-title,
.solution-10 .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.solution-1 .solution-details .links,
.solution-2 .solution-details .links,
.solution-3 .solution-details .links,
.solution-4 .solution-details .links,
.solution-5 .solution-details .links,
.solution-7 .solution-details .links,
.solution-8 .solution-details .links,
.solution-9 .solution-details .links,
.solution-10 .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution-1 .solution-details .links .solution-btn,
.solution-2 .solution-details .links .solution-btn,
.solution-3 .solution-details .links .solution-btn,
.solution-4 .solution-details .links .solution-btn,
.solution-5 .solution-details .links .solution-btn,
.solution-7 .solution-details .links .solution-btn,
.solution-8 .solution-details .links .solution-btn,
.solution-9 .solution-details .links .solution-btn,
.solution-10 .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #14c2c8;
  border-radius: 7px;
  text-decoration: none;
  color: #14c2c8;
}

.solution-1 .solution-details .links .solution-btn:hover,
.solution-2 .solution-details .links .solution-btn:hover,
.solution-3 .solution-details .links .solution-btn:hover,
.solution-4 .solution-details .links .solution-btn:hover,
.solution-5 .solution-details .links .solution-btn:hover,
.solution-7 .solution-details .links .solution-btn:hover,
.solution-8 .solution-details .links .solution-btn:hover,
.solution-9 .solution-details .links .solution-btn:hover,
.solution-10 .solution-details .links .solution-btn:hover {
  background-color: #14c2c8;
  color: white;
}

.solution-1 .solution-details .links .repo,
.solution-2 .solution-details .links .repo,
.solution-3 .solution-details .links .repo,
.solution-4 .solution-details .links .repo,
.solution-5 .solution-details .links .repo,
.solution-7 .solution-details .links .repo,
.solution-8 .solution-details .links .repo,
.solution-9 .solution-details .links .repo,
.solution-10 .solution-details .links .repo {
  color: #14c2c8;
}

.solution-1 .solution-details .links .repo:hover,
.solution-2 .solution-details .links .repo:hover,
.solution-3 .solution-details .links .repo:hover,
.solution-4 .solution-details .links .repo:hover,
.solution-5 .solution-details .links .repo:hover,
.solution-7 .solution-details .links .repo:hover,
.solution-8 .solution-details .links .repo:hover,
.solution-9 .solution-details .links .repo:hover,
.solution-10 .solution-details .links .repo:hover {
  color: black;
}

.solution-6 {
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.solution-6 .screenshot {
  width: 100%;
  border-top: 2px dotted #aad742;
  border-bottom: 3px solid #aad742;
}

.solution-6 .solution-details {
  margin: 20px 20px 30px;
}

.solution-6 .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.solution-6 .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.solution-6 .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.solution-6 .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.solution-6 .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.solution-6 .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.solution-6 .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution-6 .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #aad742;
  border-radius: 7px;
  text-decoration: none;
  color: #aad742;
}

.solution-6 .solution-details .links .solution-btn:hover {
  background-color: #aad742;
  color: white;
}

.solution-6 .solution-details .links .repo {
  color: #aad742;
}

.solution-6 .solution-details .links .repo:hover {
  color: black;
}
