* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 375px;
}

header {
  background-color: white;
  margin: 15px auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .profile {
  display: none;
}

nav {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}

nav .nav-heading {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul li {
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 600;
  list-style: none;
  margin: 4px;
  padding: 5px 15px;
}

ul li .level-text {
  display: none;
}

.solutions-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 30px;
}

#newbie-tab {
  border: #14c2c8 2px solid;
  color: #14c2c8;
}

#newbie-tab.active {
  background-color: #14c2c8;
}

#newbie-tab.active .number {
  color: white;
}

#junior-tab {
  border: #aad742 2px solid;
  color: #aad742;
}

#junior-tab.active {
  background-color: #aad742;
}

#junior-tab.active .number {
  color: white;
}

#intermediate-tab {
  border: #f1b604 2px solid;
  color: #f1b604;
}

#intermediate-tab.active {
  background-color: #f1b604;
}

#intermediate-tab.active .number {
  color: white;
}

#advanced-tab {
  border: #f48925 2px solid;
  color: #f48925;
}

#advanced-tab.active {
  background-color: #f48925;
}

#advanced-tab.active .number {
  color: white;
}

#guru-tab {
  border: #eb5252 2px solid;
  color: #eb5252;
}

#guru-tab.active {
  background-color: #eb5252;
}

#guru-tab.active .number {
  color: white;
}

#show-tab {
  border: #3e54a3 2px solid;
  color: #3e54a3;
}

#show-tab.active {
  background-color: #3e54a3;
}

#show-tab.active .number {
  color: white;
}

#show-tab.active {
  color: white;
}

.newbie {
  background-color: white;
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.newbie .screenshot {
  width: 100%;
  border-top: 2px dotted #14c2c8;
  border-bottom: 3px solid #14c2c8;
  overflow: hidden;
}

.newbie .screenshot img {
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.newbie .screenshot img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.newbie .solution-details {
  margin: 20px 20px 30px;
}

.newbie .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.newbie .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.newbie .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.newbie .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.newbie .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.newbie .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.newbie .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newbie .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #14c2c8;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: #14c2c8;
}

.newbie .solution-details .links .solution-btn:hover {
  background-color: white;
  color: #14c2c8;
  font-weight: bold;
}

.newbie .solution-details .links .repo {
  color: #14c2c8;
}

.newbie .solution-details .links .repo:hover {
  color: black;
}

.junior {
  background-color: white;
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.junior .screenshot {
  width: 100%;
  border-top: 2px dotted #aad742;
  border-bottom: 3px solid #aad742;
  overflow: hidden;
}

.junior .screenshot img {
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.junior .screenshot img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.junior .solution-details {
  margin: 20px 20px 30px;
}

.junior .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.junior .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.junior .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.junior .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.junior .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.junior .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.junior .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.junior .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #aad742;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: #aad742;
}

.junior .solution-details .links .solution-btn:hover {
  background-color: white;
  color: #aad742;
  font-weight: bold;
}

.junior .solution-details .links .repo {
  color: #aad742;
}

.junior .solution-details .links .repo:hover {
  color: black;
}

.intermediate {
  background-color: white;
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.intermediate .screenshot {
  width: 100%;
  border-top: 2px dotted #f1b604;
  border-bottom: 3px solid #f1b604;
  overflow: hidden;
}

.intermediate .screenshot img {
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.intermediate .screenshot img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.intermediate .solution-details {
  margin: 20px 20px 30px;
}

.intermediate .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.intermediate .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.intermediate .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.intermediate .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.intermediate .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.intermediate .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.intermediate .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intermediate .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #f1b604;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: #f1b604;
}

.intermediate .solution-details .links .solution-btn:hover {
  background-color: white;
  color: #f1b604;
  font-weight: bold;
}

.intermediate .solution-details .links .repo {
  color: #f1b604;
}

.intermediate .solution-details .links .repo:hover {
  color: black;
}

.advanced {
  background-color: white;
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.advanced .screenshot {
  width: 100%;
  border-top: 2px dotted #f48925;
  border-bottom: 3px solid #f48925;
  overflow: hidden;
}

.advanced .screenshot img {
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.advanced .screenshot img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.advanced .solution-details {
  margin: 20px 20px 30px;
}

.advanced .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.advanced .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.advanced .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.advanced .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.advanced .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.advanced .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.advanced .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advanced .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #f48925;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: #f48925;
}

.advanced .solution-details .links .solution-btn:hover {
  background-color: white;
  color: #f48925;
  font-weight: bold;
}

.advanced .solution-details .links .repo {
  color: #f48925;
}

.advanced .solution-details .links .repo:hover {
  color: black;
}

.guru {
  background-color: white;
  padding: 0;
  margin: 20px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.guru .screenshot {
  width: 100%;
  border-top: 2px dotted #eb5252;
  border-bottom: 3px solid #eb5252;
  overflow: hidden;
}

.guru .screenshot img {
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.guru .screenshot img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

.guru .solution-details {
  margin: 20px 20px 30px;
}

.guru .solution-details .technology {
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.guru .solution-details .technology .html {
  margin-right: 5px;
  color: #6abced;
}

.guru .solution-details .technology .css {
  margin-right: 5px;
  color: #3e54a3;
}

.guru .solution-details .technology .javascript {
  margin-right: 5px;
  color: #e13784;
}

.guru .solution-details .technology .api {
  margin-right: 5px;
  color: #85c20a;
}

.guru .solution-details .solution-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.guru .solution-details .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guru .solution-details .links .solution-btn {
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #eb5252;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: #eb5252;
}

.guru .solution-details .links .solution-btn:hover {
  background-color: white;
  color: #eb5252;
  font-weight: bold;
}

.guru .solution-details .links .repo {
  color: #eb5252;
}

.guru .solution-details .links .repo:hover {
  color: black;
}

@media (min-width: 768px) {
  .container {
    max-width: 840px;
  }
  header .logo {
    height: 60px;
    width: 60px;
  }
  nav .nav-heading {
    font-size: 1.2rem;
  }
  ul li {
    font-size: 0.9rem;
    margin: 7px;
    padding: 7px 18px;
  }
  .solutions-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1200px;
  }
  header {
    margin: 15px 50px 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header .logo {
    height: 70px;
    width: 70px;
    margin-right: 15px;
  }
  header .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .profile .name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  header .profile .handle {
    font-size: 0.9rem;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    padding: 0 50px;
  }
  nav .nav-heading {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 30px 0;
    margin: 0;
    text-align: left;
  }
  ul li {
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  ul li .number {
    font-size: 0.95rem;
    font-weight: 700;
    color: white;
    padding: 10px 15px 10px 30px;
    margin-left: -35px;
    margin-right: 10px;
  }
  ul li .level-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.85rem;
    font-weight: 600;
  }
  #newbie-tab {
    border: #14c2c8 2px solid;
    color: #14c2c8;
  }
  #newbie-tab .number {
    background-color: #14c2c8;
  }
  #newbie-tab.active {
    border: white 2px dotted;
    background-color: #14c2c8;
  }
  #newbie-tab.active .number {
    background-color: white;
    color: #14c2c8;
  }
  #newbie-tab.active .level-text {
    color: white;
  }
  #junior-tab {
    border: #aad742 2px solid;
    color: #aad742;
  }
  #junior-tab .number {
    background-color: #aad742;
  }
  #junior-tab.active {
    border: white 2px dotted;
    background-color: #aad742;
  }
  #junior-tab.active .number {
    background-color: white;
    color: #aad742;
  }
  #junior-tab.active .level-text {
    color: white;
  }
  #intermediate-tab {
    border: #f1b604 2px solid;
    color: #f1b604;
  }
  #intermediate-tab .number {
    background-color: #f1b604;
  }
  #intermediate-tab.active {
    border: white 2px dotted;
    background-color: #f1b604;
  }
  #intermediate-tab.active .number {
    background-color: white;
    color: #f1b604;
  }
  #intermediate-tab.active .level-text {
    color: white;
  }
  #advanced-tab {
    border: #f48925 2px solid;
    color: #f48925;
  }
  #advanced-tab .number {
    background-color: #f48925;
  }
  #advanced-tab.active {
    border: white 2px dotted;
    background-color: #f48925;
  }
  #advanced-tab.active .number {
    background-color: white;
    color: #f48925;
  }
  #advanced-tab.active .level-text {
    color: white;
  }
  #guru-tab {
    border: #eb5252 2px solid;
    color: #eb5252;
  }
  #guru-tab .number {
    background-color: #eb5252;
  }
  #guru-tab.active {
    border: white 2px dotted;
    background-color: #eb5252;
  }
  #guru-tab.active .number {
    background-color: white;
    color: #eb5252;
  }
  #guru-tab.active .level-text {
    color: white;
  }
  #show-tab {
    border: #3e54a3 2px solid;
    color: #3e54a3;
  }
  #show-tab.active {
    border: white 2px dotted;
    background-color: #3e54a3;
    color: white;
    font-weight: 700;
  }
  .solutions-section {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
