* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
}

.container {
  margin: 30px 0;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desktop,
.box {
  display: none;
}

.bg-img {
  position: relative;
  left: 15px;
  z-index: 10;
}

.accordion-section {
  padding: 0 45px;
  background-color: white;
  height: 536px;
  width: 327px;
  border-radius: 22px;
  position: relative;
  margin-top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion-section::before {
  content: url(./images/bg-pattern-mobile.svg);
}

.accordion-section h1 {
  text-align: center;
  font-size: 1.94rem;
  margin: 25px 0 0;
  color: #1d1e35;
}

.accordion {
  margin: 30px -25px 30px -20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #af67e9 #e7e7e9;
}

.accordion .faqs {
  margin-right: 10px;
  color: #787887;
}

.accordion .faqs summary {
  list-style: none;
  font-size: 0.82rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4a4b5e;
}

.accordion .faqs summary::after {
  content: url(./images/icon-arrow-down.svg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion .faqs summary:hover {
  cursor: pointer;
  color: #f47c57;
}

.accordion .faqs[open] summary {
  font-weight: 700;
}

.accordion .faqs[open] summary::after {
  content: url(./images/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion .faqs p {
  padding: 12px 28px 0 0;
  line-height: 18px;
}

.accordion::-webkit-scrollbar {
  width: 3px;
  background-color: #e7e7e9;
}

.accordion::-webkit-scrollbar-thumb {
  background: #af67e9;
  border-radius: 15px;
}

.divider {
  height: 1px;
  border: 0px;
  background-color: #e7e7e9;
  margin: 17px 0;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .container {
    max-width: 1110px;
    width: 960px;
    height: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
  }
  .container .box {
    display: block;
    position: absolute;
    z-index: 100;
    margin-left: -52px;
    top: 43.5%;
    -webkit-animation: rotation 12s infinite linear;
            animation: rotation 12s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(359deg);
              transform: rotateY(359deg);
    }
  }
  @keyframes rotation {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(359deg);
              transform: rotateY(359deg);
    }
  }
  .bg-img {
    left: 0;
    margin-left: 40px;
    padding-top: 64px;
    width: 600px;
    background-color: white;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
  }
  .bg-img::after {
    content: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
    left: -575px;
    top: -161%;
  }
  .bg-img .mobile {
    display: none;
  }
  .bg-img .desktop {
    display: block;
    position: relative;
    top: 6px;
    left: -82px;
    z-index: 100;
  }
  .accordion-section {
    padding-top: 64px;
    padding-left: 55px;
    width: 565px;
    margin: 0;
    border-radius: 0;
  }
  .accordion-section::before {
    content: "";
  }
  .accordion-section h1 {
    text-align: left;
    margin: 0 0 38px -40px;
  }
  .accordion {
    margin: 0 15px 0 -90px;
    padding: 0 50px;
    height: 330px;
    scrollbar-color: #f47c57 #e7e7e9;
  }
  .accordion .faqs {
    margin-right: 0;
  }
  .accordion .faqs summary {
    letter-spacing: 0.5px;
  }
  .accordion .faqs p {
    padding: 12px 0 0 0;
  }
  .accordion::-webkit-scrollbar {
    width: 5px;
  }
  .accordion::-webkit-scrollbar-thumb {
    background: #f47c57;
  }
}
