// Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient($soft-violet, $soft-blue);
}

.container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

.desktop,
    .box {
        display: none;
}

.bg-img {
    position: relative;
    left: 15px;
    z-index: 10;    
}

.accordion-section {
    padding: 0 45px;
    background-color: white;
    height: 536px;
    width: 327px;
    border-radius: 22px;
    position: relative;
    margin-top: -90px;
    display: flex;
    flex-direction: column;

    &::before {
        content: url(./images/bg-pattern-mobile.svg);
    }

    h1 {
        text-align: center;
        font-size: 1.94rem;
        margin: 25px 0 0;
    }
}

.accordion {
    margin: 30px -20px;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;

    .faqs {
    
        summary {
            list-style: none;
            font-size: 0.82rem;
            display: flex;
            justify-content: space-between;

            &::after {
                content: url(./images/icon-arrow-down.svg);
            }

            &:hover {
                cursor: pointer;
                color: $soft-red;
            }
        }

        &[open] summary {
                font-weight: 700;
                color: black;

                &::after {
                    content: url(./images/icon-arrow-down.svg);
                    transform: rotate(180deg);
                }
        }

        p {
            padding: 12px 28px 0 0;
            line-height: 18px;
        }
    }

    &::-webkit-scrollbar {
        width: 1px;
    }
}

.divider {
    height: 1px;
    border: 0px;
    background-color: $light-grayish-blue;
    margin: 17px 0;
}


/* MEDIA QUERIES */

@media (min-width: 992px) {
    .container {
        max-width: 1110px;
        width: 960px;// 963px;
        height: 510px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-radius: 25px;

        .box {
            display: block;
            position: absolute;
            z-index: 100;
            margin-left: -52px;
            top: 43.5%;
        }
    }

    .bg-img {
        left: 0;
        margin-left: 40px;
        padding-top: 64px;
        width: 600px;
        background-color: white;
        border-radius: 25px 0 0 25px;
        overflow: hidden;
        
        &::after {
            content: url(./images/bg-pattern-desktop.svg);
            background-repeat: no-repeat;
            position: relative;
            left: -575px;
            top: -161%;
        }

        .mobile {
            display: none;
        }

        .desktop {
            display: block;
            position: relative;
            top: 6px;
            left: -82px;
            z-index: 100;
        }
    }

    .accordion-section {
        padding-top: 64px;
        padding-left: 55px;
        width: 565px;
        margin: 0;
        border-radius: 0;
        
        &::before {
            content: "";
        }
    
        h1 {
            text-align: left;
            margin: 0 0 38px -40px;
        }
    }
    
    .accordion {
        margin: 0 15px 0 -90px;
        padding: 0 50px;
        height: 330px;
    
        .faqs {
        
            summary {
                letter-spacing: 0.5px;    
            }
    
            p {
                padding: 12px 0 0 0;
            }
        }
    }
}



