// Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     scrollbar-width: thin;
//     scrollbar-color: light;
// }

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient($soft-violet, $soft-blue);
}

.container {
    // border: 1px solid red;
    max-width: 375px;
    // max-width: 20.4375rem;
    // margin: 50px;
    // padding: 25px;
    // height: 645px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.bg-img {
    // border: solid 2px greenyellow;
    position: relative;
    left: 15px;
    z-index: 10;
}

.accordion-section {
    padding: 0 45px;
    background-color: white;
    height: 536px;
    width: 327px;
    border-radius: 22px;
    position: relative;
    margin-top: -90px;
    // height: 350px;
    display: flex;
    flex-direction: column;

    &::before {
        content: url(./images/bg-pattern-mobile.svg);
    }

    h1 {
        text-align: center;
        font-size: 1.94rem;
        margin: 25px 0 0;
    }
}

.accordion {
    // height: 350px;
    margin: 30px -20px;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;

    .faqs {
    
        summary {
            list-style: none;
            // margin-bottom: 15px;
            font-size: 0.82rem;
            display: flex;
            justify-content: space-between;

            &::after {
                content: url(./images/icon-arrow-down.svg);
            }

            &:hover {
                cursor: pointer;
                color: $soft-red;
            }
        }

        &[open] summary {
                font-weight: 700;
                color: black;

                &::after {
                    content: url(./images/icon-arrow-down.svg);
                    transform: rotate(180deg);
                }
        }

        p {
            padding: 12px 28px 0 0;
            line-height: 18px;
        }
    }

    &::-webkit-scrollbar {
        width: 1px;
    }
}

.divider {
    height: 1px;
    border: 0px;
    background-color: $light-grayish-blue;
    margin: 17px 0;
}



