* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
}

.container {
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
}

.bg-img {
  position: relative;
  left: 15px;
  z-index: 10;
}

.accordion-section {
  padding: 0 45px;
  background-color: white;
  height: 536px;
  width: 327px;
  border-radius: 22px;
  position: relative;
  margin-top: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion-section::before {
  content: url(./images/bg-pattern-mobile.svg);
}

.accordion-section h1 {
  text-align: center;
  font-size: 1.94rem;
  margin: 25px 0 0;
}

.accordion {
  margin: 30px -20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.accordion .faqs summary {
  list-style: none;
  font-size: 0.82rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion .faqs summary::after {
  content: url(./images/icon-arrow-down.svg);
}

.accordion .faqs[open] summary {
  font-weight: 700;
  color: black;
}

.accordion .faqs[open] summary::after {
  content: url(./images/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion .faqs p {
  padding: 12px 28px 0 0;
  line-height: 18px;
}

.divider {
  height: 1px;
  border: 0px;
  background-color: #787887;
  margin: 17px 0;
}
