$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    background: $pale-blue url("./images/pattern-background-mobile.svg") no-repeat;
    background-size: contain;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;    
}

.container {
    background-color: white;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 20.4375rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.07);
}

article {
    margin: 2.25rem; //36px 24px;

    .caption {
        font-weight: 900;
        font-size: 1.375rem;
        color: $dark-blue;
    }

    .text {
        margin: 1rem 0.625rem 1.25rem;  //16px 10px 20px;
        font-size: 0.9375rem;
        line-height: 1.6;
        color: $desaturated-blue;
    }
}

.subscription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: $very-pale-blue;
    border-radius: 0.625rem; //10px;
    padding: 1rem; //16px;

    img {
        padding-right: 1.25rem;  //20px;
    }

    button {
        font-size: 0.8125rem;
        text-decoration: underline;
        border: none;
        color: $bright-blue;
        background-color: transparent;
        font-weight: 900;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.plan {
    margin-left: -2.5rem; //-40px;

    h2 {
        font-size: 0.875rem;
        color: $dark-blue;
        margin-bottom: 0.1875rem; //3px;
        font-weight: 900;
    }

    p {
        font-size: 0.875rem;
        color: $desaturated-blue;
    }
}

ul {
    list-style: none;
}

.payment {
    margin: 1.4375rem 0 1.5625rem; //23px 0 25px 0;
    background-color: $bright-blue;
    border-radius: 0.625rem; // 10px;
    padding: 0.9375rem; // 15px;
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 20px 20px lighten($color: $bright-blue, $amount: 35);

    &:hover {
        cursor: pointer;
        background-color: hsl(245,75%,65%);
    }

    a {
        color: white;
        text-decoration: none;       
    }
}

.cancel {
    font-size: 0.9375rem;
    border: none;
    color: $desaturated-blue;
    background-color: transparent;
    font-weight: 900;

    &:hover {
        cursor: pointer;
        color: $dark-blue;
    }
}


@media (min-width: 960px) {
    body {
        background: $pale-blue url("./images/pattern-background-desktop.svg") no-repeat;
        background-size: contain;
    }

    .container {
        max-width: 28.125rem; // 450px;
    }

    article {
        margin: 2.8125rem; // 45px;
    
        .caption {
            font-size: 1.75rem;
        }
    
        .text {
            margin: 1.06rem 0.9375rem; // 16.5px 15px 17px;
            font-size: 1rem;
            line-height: 1.625rem; // 26px;
        }
    }
    
    .subscription {
        background-color: $very-pale-blue;
        border-radius: 0.6875rem; // 11px;
        padding: 1.5625rem; // 25px;
    
        button {
            font-size: 0.875rem;
        }
    }
    
    .plan {
        margin-left: -5rem; // -80px;
    
        h2 {
            font-size: 1rem;
            margin-bottom: 0.4rem 6px;
        }
    
        p {
            font-size: 1rem;
        }
    }

    .payment {
        margin: 1.88rem 0; // 30px 0;
        border-radius: 0.6875rem; // 11px;
    }
}