$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-greyish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$fraunces: 'Fraunces', serif;
$montserat: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
