* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25rem;
}

header img {
  max-width: 80%;
  margin-bottom: 50px;
}

.container {
  border: 1px solid red;
  max-width: 375px;
  text-align: center;
  padding: 0 20px;
}

.container h1 {
  font-size: 1.5rem;
}

.container p {
  font-size: 1rem;
}

.container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
}

.container .subscribe #email {
  border-radius: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

.container .subscribe #submit {
  border-radius: 50px;
  padding: 15px;
}

.container img {
  max-width: 100%;
}

footer {
  margin-top: 100px;
}

footer .socials {
  margin-bottom: 25px;
}
