*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  background: linear-gradient(135deg, white 0%, #fff5f5 60%) no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-top: 84px;
  height: 250px;
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
  margin-bottom: 35px;
}

header .logo {
  max-width: 100px;
  margin: 31px;
  position: relative;
  bottom: 84px;
}

.container {
  padding: 30px 30px;
  max-width: 480px;
}

.container h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  color: #413a3a;
}

.container h1 span {
  font-weight: 300;
  color: #ce9797;
  display: block;
}

.container p {
  margin-top: 15px;
  margin-bottom: 31px;
  text-align: center;
  color: #ce9797;
  line-height: 1.5;
  font-size: 0.9375rem;
  letter-spacing: -0.4px;
}

.container form {
  position: relative;
}

.container form.valid #email {
  border: 1px solid #0f0;
}

.container form.invalid #email {
  border: 1px solid #f00;
}

.container form.valid button,
.container form.invalid button {
  padding: 12.5px 36px;
}

.container form.invalid .error-msg {
  display: block;
  color: #f00;
  font-size: 0.875rem;
  margin: 8px 0 0 25px;
}

.container form.invalid .email-input::after {
  content: "";
  position: absolute;
  right: 95px;
  top: 12px;
  height: 24px;
  width: 24px;
  background: url(./images/icon-error.svg);
  background-size: cover;
  z-index: 10;
}

.container input {
  background: transparent;
  padding: 15px;
  border: 1px solid #d9cacd;
  outline: none;
  width: 98%;
  border-radius: 50px;
  padding-left: 25px;
  font-size: 0.875rem;
}

.container input::-webkit-input-placeholder {
  color: #d9cacd;
  font-family: 'Josefin Sans', sans-serif;
}

.container input:-ms-input-placeholder {
  color: #d9cacd;
  font-family: 'Josefin Sans', sans-serif;
}

.container input::-ms-input-placeholder {
  color: #d9cacd;
  font-family: 'Josefin Sans', sans-serif;
}

.container input::placeholder {
  color: #d9cacd;
  font-family: 'Josefin Sans', sans-serif;
}

.container button {
  padding: 12px 26px;
  text-align: center;
  background: Linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 0;
}

.container button:hover {
  -webkit-box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 36px;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  body {
    background: url(./images/hero-desktop.jpg) no-repeat right center, url(./images/bg-pattern-desktop.svg) no-repeat left center;
    background-size: contain, contain;
    background-position-x: 105%;
    background-color: #fff5f5;
    display: block;
  }
  header {
    all: unset;
  }
  header .logo {
    max-width: 164px;
    margin: 64px 60px;
    position: unset;
  }
  .container {
    padding: 0;
    max-width: 360px;
    margin-left: 60px;
  }
  .container h1 {
    margin-top: 65px;
    font-size: 3.2rem;
    text-align: left;
    letter-spacing: 15px;
    line-height: 1.1;
  }
  .container h1 span {
    font-weight: 300;
    margin-bottom: 0px;
  }
  .container p {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 1.7;
    font-size: 1rem;
    letter-spacing: 0.1px;
    padding-right: 30px;
  }
  .container form.valid button,
  .container form.invalid button {
    padding: 17px 45px;
  }
  .container form.invalid .email-input::after {
    right: 160px;
    top: 16px;
  }
  .container input {
    padding: 18px;
    padding-left: 30px;
    font-size: 1rem;
    width: 80%;
  }
  .container button {
    padding: 16px 40px;
    right: 50px;
  }
  .container button:hover {
    padding: 17px 45px;
  }
}

@media (min-width: 1240px) {
  body {
    background: url(./images/hero-desktop.jpg) no-repeat right center, url(./images/bg-pattern-desktop.svg) no-repeat left center;
    background-size: contain, contain;
    background-color: #fff5f5;
    display: block;
  }
  header {
    all: unset;
  }
  header .logo {
    max-width: 164px;
    margin: 64px 165px;
    position: unset;
  }
  .container {
    padding: 0;
    max-width: 446px;
    margin-left: 165px;
  }
  .container h1 {
    margin-top: 65px;
    font-size: 4rem;
    text-align: left;
    letter-spacing: 17.5px;
    line-height: 1.1;
  }
  .container h1 span {
    font-weight: 300;
    margin-bottom: -3px;
  }
  .container p {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 1.7;
    font-size: 1rem;
    letter-spacing: 0.1px;
    padding-right: 0px;
  }
  .container form.valid button,
  .container form.invalid button {
    padding: 17.5px 46px;
  }
  .container form.invalid .email-input::after {
    right: 120px;
    top: 16px;
  }
  .container input {
    padding: 19px;
    padding-left: 30px;
    font-size: 1rem;
    width: 98%;
  }
  .container button {
    padding: 17px 45px;
    right: 0;
  }
  .container button:hover {
    padding: 17px 50px;
  }
}
