//Colours
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    background: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 60%) no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    width: 100%;
    margin-top: 84px;
    height: 250px;
    background-image: url(./images/hero-mobile.jpg);
    background-size: cover;
    margin-bottom: 35px;


    .logo {
        max-width: 100px;
        margin: 31px;
        position: relative;
        bottom: 84px;
    }
}

.container {
    padding: 30px 30px;
    max-width: 480px;

    h1 {
        font-size: 2.6rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 10px;
        color: $dark-grayish-red;

        span {
            font-weight: 300;
            color: $desaturated-red;
            display: block;
        }
    }

    p {
        margin-top: 15px;
        margin-bottom: 31px;
        text-align: center;
        color: $desaturated-red;
        line-height: 1.5;
        font-size: 0.9375rem;
        letter-spacing: -0.4px;
    }

    form {
        position: relative;
    }

    input {
        background: transparent;
        padding: 15px;
        border: 1px solid #d9cacd;
        outline: none;
        width: 100%;
        border-radius: 50px;
        padding-left: 25px;
        font-size: 0.875rem;

        &::placeholder {
            color: #d9cacd;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    button {
        padding: 12px 26px;
        text-align: center;
        background: Linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border: none;
        border-radius: 50px;
        position: absolute;
        right: 0;

        &:hover {
            box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.15);
            padding: 12px 36px;
            cursor: pointer;
        }
    }
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
    body {
        background: url(./images/hero-desktop.jpg) no-repeat right center, url(./images/bg-pattern-desktop.svg) no-repeat left center;
        background-size: contain, contain;
        background-position-x: 105%;
        background-color: hsl(0, 100%, 98%);
        display: block;
    }

    header {
        all: unset;
    
        .logo {
            max-width: 164px;
            margin: 64px 60px;
            position: unset;
        }
    }

    .container {
        padding: 0;
        max-width: 360px;
        margin-left: 60px;
    
        h1 {
            margin-top: 65px;
            font-size: 3.2rem;
            text-align: left;
            letter-spacing: 15px;
            line-height: 1.1;
    
            span {
                font-weight: 300;
                margin-bottom: 0px;
            }
        }
    
        p {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: left;
            line-height: 1.7;
            font-size: 1rem;
            letter-spacing: 0.1px;
            padding-right: 30px;
        }
        
        input {
            padding: 18px;
            padding-left: 30px;
            font-size: 1rem;
            width: 80%;
        }
    
        button {
            padding: 16px 40px;
            right: 50px;
    
            &:hover {
                padding: 17px 45px;
            }
        }
    }

}

@media (min-width: 1240px) {
    body {
        background: url(./images/hero-desktop.jpg) no-repeat right center, url(./images/bg-pattern-desktop.svg) no-repeat left center;
        background-size: contain, contain;
        background-color: hsl(0, 100%, 98%);
        display: block;
    }

    header {
        all: unset;
    
        .logo {
            max-width: 164px;
            margin: 64px 165px;
            position: unset;
        }
    }

    .container {
        padding: 0;
        max-width: 446px;
        margin-left: 165px;
    
        h1 {
            margin-top: 65px;
            font-size: 4rem;
            text-align: left;
            letter-spacing: 17.5px;
            line-height: 1.1;
    
            span {
                font-weight: 300;
                margin-bottom: 0px;
            }
        }
    
        p {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: left;
            line-height: 1.7;
            font-size: 1rem;
            letter-spacing: 0.1px;
            padding-right: 0px;
        }
        
        input {
            padding: 19px;
            padding-left: 30px;
            font-size: 1rem;
        }
    
        button {
            padding: 17px 45px;
    
            &:hover {
                padding: 17px 50px;
            }
        }
    }
}