* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  background-color: #1f2632;
}

.line-desktop {
  display: none;
}

.container {
  max-width: 375px;
  padding: 15px;
}

.advice-card {
  text-align: center;
  background-color: #323a49;
  border-radius: 10px;
  padding-top: 40px;
  -webkit-box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.1);
}

.advice-id {
  text-transform: uppercase;
  color: #52ffa8;
  font-size: 0.75rem;
  letter-spacing: 2.75px;
  margin-bottom: 24px;
}

.quote {
  font-size: 1.46rem;
  color: #cee3e9;
  padding: 0 20px;
}

.line-mobile {
  padding: 28px 0 60px 0;
}

.dice {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #52ffa8;
  padding: 20px;
  border-radius: 50%;
  margin-top: -32px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    max-width: 540px;
    padding: unset;
  }
  .advice-card {
    border-radius: 15px;
    padding-top: 48px;
    width: 540px;
  }
  .advice-id {
    font-size: 0.875rem;
    letter-spacing: 3.4px;
    margin-bottom: 24px;
  }
  .quote {
    font-size: 1.7125rem;
    padding: 0 40px;
  }
  .line-mobile {
    display: none;
  }
  .line-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 44px 0 72px 0;
  }
  .dice:hover {
    -webkit-box-shadow: 1px 1px 30px 5px #52ffa8;
            box-shadow: 1px 1px 30px 5px #52ffa8;
  }
}
