$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: $dark-blue;
}

.line-desktop {
    display: none;
}

.container {
    max-width: 375px;
    padding: 15px;
}

.advice-card {
    text-align: center;
    background-color: $dark-grayish-blue;
    border-radius: 10px;
    padding-top: 40px;
    box-shadow: 1px 4px 8px rgba($color: #000000, $alpha: .1);
}

.advice-id {
    text-transform: uppercase;
    color: $neon-green;
    font-size: 0.75rem;
    letter-spacing: 2.75px;
    margin-bottom: 24px;
}

.quote {
    font-size: 1.46rem;
    color: $light-cyan;
    padding: 0 20px;
}

.line-mobile {
    padding: 28px 0 60px 0;
}

.dice {
    border: none;
    outline: none;
    display: flex;
    margin: 0 auto;
    background-color: $neon-green;
    padding: 20px;
    border-radius: 50%;
    margin-top: -32px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .container {
        max-width: 540px;
        padding: unset;
    }

    .advice-card {
        border-radius: 15px;
        padding-top: 48px;
        width: 540px;
    }

    .advice-id {
        font-size: 0.875rem;
        letter-spacing: 3.4px;
        margin-bottom: 24px;
    }

    .quote {
        font-size: 1.7125rem;
        padding: 0 40px;
    }

    .line-mobile {
        display: none;
    }

    .line-desktop {
        display: flex;
        margin: 0 auto;
        padding: 44px 0 72px 0;
    }

    .dice:hover {
        box-shadow: 1px 1px 30px 5px $neon-green;
    }
}