// Colours
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $light-grayish-blue;
}

.container {
    max-width: 375px;
    // border: red 1px solid;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.card {
    background-color: white;
    // border: greenyellow 1px solid;
    margin: 0 25px;
    max-width: 325px;
    height: 514px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.card-img {
    height: 200px;
    
    img {
        object-fit: cover;
        object-position: 0 -12px;
        width: 100%;
        height: 100%;
    }
}

.description {
    margin: 38px 30px 20px;
}

.quote {
    font-size: 1.03rem;
    font-weight: 700;
    margin-bottom: 17px;
    color: $very-dark-grayish-blue;
}

.text {
    font-size: 0.835rem;
    font-weight: 500;
    margin-bottom: 34px;
    color: $desaturated-dark-blue;
    line-height: 19.5px;
}

.share-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-details {
    margin-left: 18px;

    h2 {
        font-size: 0.8125rem;
        font-weight: 700;
        color: $very-dark-grayish-blue;
        margin-bottom: 3px;
    }

    p {
        font-size: 0.74rem;
        color: $grayish-blue;
        letter-spacing: 0.5px;
    }
}

.icon-share {
    background-color: $light-grayish-blue;
    color: red;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.share.display {
    position: absolute;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    bottom: 0;
    background-color: $very-dark-grayish-blue;
    padding: 0 30px;

    a {
        text-decoration: none;
    }
}

.share-text {
    text-transform: uppercase;
    color: $grayish-blue;
    font-size: 0.78rem;
    letter-spacing: 5.5px;
}

.socials {
    display: flex;
    align-items: center;
    line-height: 10px;
    margin: 0 55px 0 16px;
}

.twitter {
    margin: 0 16px;
}

.facebook,
.twitter,
.pinterest {
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.3);
    }
}