*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #ecf2f8;
}

.container {
  max-width: 375px;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.card {
  background-color: white;
  margin: 0 25px;
  max-width: 325px;
  height: 514px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card-img {
  height: 200px;
}

.card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -12px;
     object-position: 0 -12px;
  width: 100%;
  height: 100%;
}

.description {
  margin: 38px 30px 20px;
}

.quote {
  font-size: 1.03rem;
  font-weight: 700;
  margin-bottom: 17px;
  color: #48556a;
}

.text {
  font-size: 0.835rem;
  font-weight: 500;
  margin-bottom: 34px;
  color: #6d7f97;
  line-height: 19.5px;
}

.share-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-details {
  margin-left: 18px;
}

.profile-details h2 {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #48556a;
  margin-bottom: 3px;
}

.profile-details p {
  font-size: 0.74rem;
  color: #9eafc2;
  letter-spacing: 0.5px;
}

.icon-share {
  background-color: #ecf2f8;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-share:hover {
  background-color: #9eafc2;
}

.hidden {
  display: none;
}

.share.display {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  bottom: 0;
  background-color: #48556a;
  padding: 0 30px;
}

.share.display a {
  text-decoration: none;
}

.share-text {
  text-transform: uppercase;
  color: #9eafc2;
  font-size: 0.78rem;
  letter-spacing: 5.5px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 10px;
  margin: 0 55px 0 16px;
}

.twitter {
  margin: 0 16px;
}

.facebook,
.twitter,
.pinterest {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.facebook:hover,
.twitter:hover,
.pinterest:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (min-width: 992px) {
  .container {
    max-width: 1110px;
  }
  .card {
    max-width: 729px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: unset;
  }
  .card-img {
    height: 100%;
  }
  .card-img img {
    -o-object-position: 0 0;
       object-position: 0 0;
    width: 285px;
    border-radius: 10px 0 0 10px;
  }
  .description {
    margin: 33px 40px;
  }
  .quote {
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    margin-bottom: 13px;
  }
  .text {
    letter-spacing: -0.05px;
    margin-bottom: 21px;
  }
  .profile-details {
    margin-left: 16px;
  }
  .desktop {
    display: none;
  }
  .share.display {
    height: 55px;
    width: 250px;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: -10%;
    bottom: 95px;
    z-index: 100;
  }
  .share.display::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 41%;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #48556a;
  }
  .socials {
    margin: 0 0 0 16px;
  }
}
