// Colours
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $light-grayish-blue;
}

.container {
    max-width: 375px;
    // border: red 1px solid;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.card {
    background-color: white;
    // border: greenyellow 1px solid;
    margin: 0 25px;
    max-width: 325px;
    height: 514px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.card-img {
    height: 200px;
    
    img {
        object-fit: cover;
        object-position: 0 -12px;
        width: 100%;
        height: 100%;
    }
}

.description {
    margin: 38px 30px 20px;
}

.quote {
    font-size: 1.03rem;
    font-weight: 700;
    margin-bottom: 17px;
    color: $very-dark-grayish-blue;
}

.text {
    font-size: 0.835rem;
    font-weight: 500;
    margin-bottom: 34px;
    color: $desaturated-dark-blue;
    line-height: 19.5px;
}

.share-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-details {
    margin-left: 18px;

    h2 {
        font-size: 0.8125rem;
        font-weight: 700;
        color: $very-dark-grayish-blue;
        margin-bottom: 3px;
    }

    p {
        font-size: 0.74rem;
        color: $grayish-blue;
        letter-spacing: 0.5px;
    }
}

.icon-share {
    background-color: $light-grayish-blue;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: $grayish-blue;
    }
}

.hidden {
    display: none;
}

.share.display {
    position: absolute;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    bottom: 0;
    background-color: $very-dark-grayish-blue;
    padding: 0 30px;

    a {
        text-decoration: none;
    }
}

.share-text {
    text-transform: uppercase;
    color: $grayish-blue;
    font-size: 0.78rem;
    letter-spacing: 5.5px;
}

.socials {
    display: flex;
    align-items: center;
    line-height: 10px;
    margin: 0 55px 0 16px;
}

.twitter {
    margin: 0 16px;
}

.facebook,
.twitter,
.pinterest {
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.3);
    }
}

//MEDIA QUERIES
@media (min-width: 992px) {
    .container {
        max-width: 1110px;
        // border: red 1px solid;
    }

    .card {
        // border: yellowgreen 1px solid;
        max-width: 729px;
        height: 280px;
        display: flex;
        overflow: unset;
    }

    .card-img {
        height: 100%;
        
        img {
            object-position: 0 0;
            width: 285px;
            border-radius: 10px 0 0 10px;
        }
    }

    .description {
        margin: 33px 40px;
    }

    .quote {
        font-size: 1.25rem;
        letter-spacing: 0.25px;
        margin-bottom: 13px;
    }

    .text {
        letter-spacing: -0.05px;
        margin-bottom: 21px;
    }

    .profile-details {
        margin-left: 16px;
    }

    .desktop {
        display: none;
    }

    .share.display {
        height: 55px;
        width: 250px;
        border-radius: 10px;
        justify-content: center;
        right: -10%;
        bottom: 95px;
        z-index: 100;

        &::after {
            content: "";
            position: absolute;
            top: 50px;
            left: 41%;
            width: 0;
            height: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 18px solid $very-dark-grayish-blue;
        }
    }

    .socials {
        margin: 0 0 0 16px;
    }
}