$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);
$intro-bg: hsl(217, 28%, 15%);
$cta-cyan: hsl(176, 68%, 64%);
$cta-blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: $main-bg;
    color: $white;
}

.headings,
.btn {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

.header {
    background-color: $intro-bg;
    width: 100%;
}

.navbar {
    padding: 72px 80px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 175px;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: $white;
    font-size: 1rem;
    margin-left: 58px;

    &:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}

.introduction {
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 212px;
}

.introduction-img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.intro {
    max-width: 700px;
    margin: 40px auto 0;
}

.intro-caption {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 38px;
}

.intro-text {
    font-size: 1.25rem;
    padding: 0 50px;
    line-height: 1.5;
    margin-bottom: 48px;
}

.btn {
    padding: 18px 96px;
    color: $white;
    text-decoration: none;
    background-image: linear-gradient(to right, $cta-cyan, $cta-blue);
    font-weight: 700;
    border-radius: 50px;
    border: none;

    &:hover {
        background-image: linear-gradient(to right, $cta-blue, $cta-cyan);
    }
}

.container {
    max-width: 1440px;
    font-size: 1rem;
}

.features {
    display: grid;
    grid-template-columns: auto auto;
    margin: -28px 185px 51px;
}

.feature {
    padding: 0 80px 85px 70px;

    &:nth-of-type(2) {
        margin-left: -45px;
    }

    &:nth-of-type(4) {
        margin-left: -30px;
    }
}

.feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    // max-width: 92px;
    margin-bottom: 24px;
}

.feature-caption {
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 0.45px;
}

.feature-text {
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0 25px;
}

.feature-text-2 {
    padding: 0 10px;
}

.feature-text-3 {
    padding: 0 10px;
}

.productive {
    display: flex;
    padding: 0 105px;
    margin-bottom: 128px;
}

.productive-section {
    padding: 114px 0 0 58px;
}

.productive-caption {
    font-size: 2.3rem;
    letter-spacing: 1.8px;
    line-height: 1.4;
    padding-right: 100px;
    margin-bottom: 17px;
}

.productive-text {
    line-height: 1.5;
    margin-bottom: 16px;

    &:nth-of-type(2) {
        margin-bottom: 24px;
    }
}

.productive-cta {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1.5px $cta-cyan solid;
    color: $cta-cyan;

    &:hover {
        color: $white;
        border-color: $white;
    }
}

.productive-cta::after {
    content: url(./images/icon-arrow.svg);
    position: relative;
    margin-left: 5px;
    top: 4px;
}

.productive-cta:hover:after {
    content: url(./images/icon-arrow-white.svg);
    margin-left: 10px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px 90px 35px;
    background: url(./images/bg-quotes.png) no-repeat;
    background-position: top 14px left 42px;
}

.testimonial {
    background-color: $testimonials-bg;
    padding: 40px 26px 25px;
    width: 360px;
    border-radius: 5px;
}

.testimonial-text {
    font-size: 0.93rem;
    line-height: 1.4;
    margin-bottom: 22px;
}

.testimonial-profile {
    display: flex;
    align-items: center;
}

.testimonial-img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.testimonial-about {
    margin-left: 8px;
}

.testimonial-name {
    font-size: 0.675rem;
    margin-bottom: 3px;
}

.testimonial-position {
    font-size: 0.55rem;
}

.subscription {
    background-color: $intro-bg;
    // margin: 20px;
    margin: 0 290px;
    padding: 48px 0 40px;
    border-radius: 10px;
    position: relative;
    top: 115px;
}

.subscribe-caption {
    font-size: 2rem;
    margin-bottom: 22px;
}

.subscribe-text {
    font-size: 0.875rem;
    padding: 0 100px;
    line-height: 1.5;
    margin-bottom: 38px;
}

.subscribe-form {
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
}

.subscribe-input {
    padding: 16px 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 67.5%;

    &::placeholder {
        color: rgb(202, 201, 201);
    }
}

.subscribe-btn {
    padding: 16px 36px;
}

.footer {
    background-color: $footer-bg;
    width: 100%;
    padding: 200px 80px 55px 120px;
    // padding-top: 200px;
}

.footer-content {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    margin: 27px 0;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-location {
    max-width: 380px;
    margin-right: 113px;
}

.footer-img,
.footer-img-location {
    max-width: 100%;
    height: 18px;
    // margin-top: 7px;
}

.footer-img-location {
    margin-top: -38px;
}

.footer-col-2 {
    margin-left: -32px;
    font-size: 0.85rem;
    margin-right: 145px;
    // max-width: 500px;
}

.footer-col-3 {
    margin-right: 80px;
}

.footer-col-4 {
    margin-right: 115px;
}

.footer-text,
.footer-number,
.footer-email {
    margin-left: 26px;
    line-height: 1.5;
}

.number {
    margin-bottom: 20px;
}

.footer-item {
    list-style: none;
    margin-bottom: 15px;
}

.footer-link {
    text-decoration: none;    
    color: $white;

    &:hover {
        font-weight: 700;
    }
}

.socials {
    display: flex;
}

.socials-link {
    text-decoration: none;
    color: $white;
    height: 32px;
    width: 32px;
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:nth-child(2) {
        margin: 0 12px;
    }

    &:hover {
        color: $cta-cyan;
        border: solid 2px $cta-cyan;
    }
}