*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #181f2a;
  color: white;
}

.headings,
.btn {
  font-family: 'Raleway', sans-serif;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #1c2431;
  width: 100%;
}

.navbar {
  padding: 74px 80px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 175px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-left: 58px;
}

.menu-link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.introduction {
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 212px;
}

.introduction-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.intro {
  max-width: 700px;
  margin: 40px auto 0;
}

.intro-caption {
  font-size: 2.5rem;
  line-height: 1.375;
  margin-bottom: 38px;
}

.intro-text {
  font-size: 1.25rem;
  padding: 0 50px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.btn {
  padding: 18px 96px;
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#65e2d9));
  background-image: linear-gradient(to right, #339ecc, #65e2d9);
}

.container {
  max-width: 1440px;
  font-size: 1rem;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: -28px 185px 51px;
}

.feature {
  padding: 0 80px 85px 70px;
}

.feature:nth-of-type(2) {
  margin-left: -45px;
}

.feature:nth-of-type(4) {
  margin-left: -30px;
}

.feature-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88px;
  margin-bottom: 24px;
}

.feature-caption {
  font-size: 1.2rem;
  margin-bottom: 10px;
  letter-spacing: 0.45px;
}

.feature-text {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0 25px;
}

.feature-text-2 {
  padding: 0 10px;
}

.feature-text-3 {
  padding: 0 10px;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 105px;
  margin-bottom: 128px;
}

.productive-section {
  padding: 114px 0 0 58px;
}

.productive-caption {
  font-size: 2.3rem;
  letter-spacing: 1.8px;
  line-height: 1.4;
  padding-right: 100px;
  margin-bottom: 17px;
}

.productive-text {
  line-height: 1.5;
  margin-bottom: 16px;
}

.productive-text:nth-of-type(2) {
  margin-bottom: 24px;
}

.productive-cta {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1.5px #65e2d9 solid;
  color: #65e2d9;
}

.productive-cta:hover {
  color: white;
  border-color: white;
}

.productive-cta::after {
  content: url(./images/icon-arrow.svg);
  position: relative;
  margin-left: 5px;
  top: 4px;
}

.productive-cta:hover:after {
  content: url(./images/icon-arrow-white.svg);
  margin-left: 10px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  margin: 50px 90px 35px;
  background: url(./images/bg-quotes.png) no-repeat;
  background-position: top 14px left 42px;
}

.testimonial {
  background-color: #202a3c;
  padding: 40px 26px 25px;
  width: 360px;
  border-radius: 5px;
}

.testimonial-text {
  font-size: 0.93rem;
  line-height: 1.4;
  margin-bottom: 22px;
}

.testimonial-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.testimonial-about {
  margin-left: 8px;
}

.testimonial-name {
  font-size: 0.675rem;
  margin-bottom: 3px;
}

.testimonial-position {
  font-size: 0.55rem;
}

.subscription {
  background-color: #1c2431;
  margin: 0 290px;
  padding: 48px 0 40px;
  border-radius: 10px;
  position: relative;
  top: 115px;
}

.subscribe-caption {
  font-size: 2rem;
  margin-bottom: 22px;
}

.subscribe-text {
  font-size: 0.875rem;
  padding: 0 100px;
  line-height: 1.5;
  margin-bottom: 38px;
}

.subscribe-form {
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-input {
  padding: 16px 0;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 30px;
  width: 67.5%;
}

.subscribe-input::-webkit-input-placeholder {
  color: #cac9c9;
}

.subscribe-input:-ms-input-placeholder {
  color: #cac9c9;
}

.subscribe-input::-ms-input-placeholder {
  color: #cac9c9;
}

.subscribe-input::placeholder {
  color: #cac9c9;
}

.subscribe-btn {
  padding: 16px 36px;
}

.footer {
  background-color: #0b1523;
  width: 100%;
  padding-top: 200px;
}
