*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #181f2a;
  color: white;
}

.headings,
.btn {
  font-family: 'Raleway', sans-serif;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #1c2431;
  width: 100%;
}

.navbar {
  padding: 72px 80px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 10.9375rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-left: 58px;
}

.menu-link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.introduction {
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 13.25rem;
}

.introduction-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.intro {
  max-width: 43.75rem;
  margin: 40px auto 0;
}

.intro-caption {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 38px;
}

.intro-text {
  font-size: 1.25rem;
  padding: 0 50px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.btn {
  padding: 18px 96px;
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#65e2d9));
  background-image: linear-gradient(to right, #339ecc, #65e2d9);
}

.container {
  max-width: 90rem;
  font-size: 1rem;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: -1.75rem 11.5625rem 3.1875rem;
}

.feature {
  padding: 0 80px 85px 70px;
}

.feature:nth-of-type(2) {
  margin-left: -45px;
}

.feature:nth-of-type(4) {
  margin-left: -30px;
}

.feature-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 88px;
  margin-bottom: 24px;
}

.feature-caption {
  font-size: 1.2rem;
  margin-bottom: 10px;
  letter-spacing: 0.45px;
}

.feature-text {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0 25px;
}

.feature-text-2,
.feature-text-3 {
  padding: 0 10px;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 105px;
  margin-bottom: 8rem;
}

.productive-section {
  padding: 114px 0 0 58px;
}

.productive-caption {
  font-size: 2.3rem;
  letter-spacing: 1.8px;
  line-height: 1.4;
  padding-right: 100px;
  margin-bottom: 17px;
}

.productive-text {
  line-height: 1.5;
  margin-bottom: 16px;
}

.productive-text:nth-of-type(2) {
  margin-bottom: 24px;
}

.productive-cta {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1.5px #65e2d9 solid;
  color: #65e2d9;
}

.productive-cta:hover {
  color: white;
  border-color: white;
}

.productive-cta::after {
  content: url(./images/icon-arrow.svg);
  position: relative;
  margin-left: 5px;
  top: 4px;
}

.productive-cta:hover:after {
  content: url(./images/icon-arrow-white.svg);
  margin-left: 10px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  margin: 50px 90px 35px;
  background: url(./images/bg-quotes.png) no-repeat;
  background-position: top 14px left 42px;
}

.testimonial {
  background-color: #202a3c;
  padding: 40px 26px 25px;
  width: 22.5rem;
  border-radius: 5px;
}

.testimonial-text {
  font-size: 0.93rem;
  line-height: 1.4;
  margin-bottom: 22px;
}

.testimonial-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.testimonial-about {
  margin-left: 8px;
}

.testimonial-name {
  font-size: 0.675rem;
  margin-bottom: 3px;
}

.testimonial-position {
  font-size: 0.55rem;
}

.subscription {
  background-color: #1c2431;
  margin: 0 18.125rem;
  padding: 48px 0 40px;
  border-radius: 10px;
  position: relative;
  top: 7.1875rem;
}

.subscribe-caption {
  font-size: 2rem;
  margin-bottom: 22px;
}

.subscribe-text {
  font-size: 0.875rem;
  padding: 0 100px;
  line-height: 1.5;
  margin-bottom: 38px;
}

.subscribe-form {
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-input {
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  width: 67.5%;
}

.subscribe-input::-webkit-input-placeholder {
  color: #cac9c9;
}

.subscribe-input:-ms-input-placeholder {
  color: #cac9c9;
}

.subscribe-input::-ms-input-placeholder {
  color: #cac9c9;
}

.subscribe-input::placeholder {
  color: #cac9c9;
}

.subscribe-btn {
  padding: 16px 36px;
}

.subscribe-btn:hover {
  cursor: pointer;
}

.subscribe-form .subscribe-error-msg {
  position: absolute;
  display: block;
  color: #ff4242;
  font-size: 0.7rem;
  margin: 53px 0 0 28px;
}

.footer {
  background-color: #0b1523;
  width: 100%;
  padding: 200px 80px 55px 120px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 27px 0;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-location {
  max-width: 23.75rem;
  margin-right: 7.0625rem;
}

.footer-img,
.footer-img-location {
  max-width: 100%;
  height: 18px;
}

.footer-img-location {
  margin-top: -38px;
}

.footer-col-2 {
  margin-left: -32px;
  font-size: 0.85rem;
  margin-right: 145px;
}

.footer-col-3 {
  margin-right: 80px;
}

.footer-col-4 {
  margin-right: 7.1875rem;
}

.footer-text,
.footer-number,
.footer-email {
  margin-left: 26px;
  line-height: 1.5;
}

.number {
  margin-bottom: 20px;
}

.footer-item {
  list-style: none;
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  font-weight: 700;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-link {
  text-decoration: none;
  color: white;
  height: 32px;
  width: 32px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.socials-link:nth-child(2) {
  margin: 0 12px;
}

.socials-link:hover {
  color: #65e2d9;
  border: solid 2px #65e2d9;
}

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    max-width: 46.875rem;
  }
  .navbar {
    padding: 48px 50px 0 40px;
  }
  .logo {
    width: 10rem;
  }
  .menu-link {
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .introduction {
    margin-top: 91px;
    background-image: url(./images/bg-curvy-mobile.svg);
    padding-bottom: 0px;
  }
  .introduction-img {
    max-width: 81%;
    margin-bottom: 65px;
  }
  .intro-caption {
    font-size: 3rem;
    line-height: 1.5;
    margin: 0 0 30px;
  }
  .intro-text {
    font-size: 1.75rem;
    margin-bottom: 95px;
  }
  .btn {
    padding: 1.9375rem 10.125rem;
    font-size: 1.75rem;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 18.4375rem 0 10rem;
  }
  .feature {
    margin-bottom: 10rem;
    padding: 0 35px;
  }
  .feature:nth-of-type(2) {
    margin-bottom: 11.5625rem;
    margin-left: 0;
    padding: 0 40px;
  }
  .feature:nth-of-type(3) {
    margin-bottom: 12rem;
  }
  .feature:nth-of-type(4) {
    margin-left: 0;
  }
  .feature-img {
    display: unset;
  }
  .feature-img .ft-img-1 {
    width: 128px;
    height: 120px;
    margin-bottom: 64px;
  }
  .feature-img .ft-img-2 {
    width: 108px;
    height: 138px;
    margin-bottom: 64px;
  }
  .feature-img .ft-img-3 {
    width: 132px;
    height: 110px;
    margin-bottom: 70px;
  }
  .feature-img .ft-img-4 {
    width: 140px;
    height: 98px;
    margin-bottom: 75px;
  }
  .feature-caption {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }
  .feature-text {
    font-size: 1.75rem;
  }
  .feature-text-2 {
    padding: 0;
  }
  .productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 56px 0 56px;
  }
  .productive-img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
  }
  .productive-section {
    padding: 0;
    margin-bottom: 11.25rem;
  }
  .productive-caption {
    font-size: 2.25rem;
    padding: 0;
    letter-spacing: unset;
    margin: 100px 0 30px 5px;
  }
  .productive-text {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .productive-text:nth-of-type(2) {
    margin-bottom: 35px;
  }
  .productive-cta {
    font-size: 1.5rem;
    border-bottom: 2px #65e2d9 solid;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 95px;
    margin: 80px 0 -115px;
    background-position: top 5px left 100px;
  }
  .testimonial {
    padding: 55px 40px 40px;
    width: unset;
    margin-bottom: 48px;
  }
  .testimonial-text {
    font-size: 1.25rem;
    line-height: 1.7;
    margin-bottom: 35px;
  }
  .testimonial-img {
    height: 48px;
    width: 48px;
  }
  .testimonial-about {
    margin-left: 18px;
  }
  .testimonial-name {
    font-size: 1.25rem;
    margin-bottom: 7px;
    letter-spacing: 1px;
  }
  .testimonial-position {
    font-size: 0.9125rem;
    letter-spacing: 0.6px;
  }
  .subscription {
    margin: 0 40px;
    padding: 82px 50px 70px;
    top: 21.875rem;
  }
  .subscribe-caption {
    font-size: 2.2715rem;
    margin-bottom: 35px;
  }
  .subscribe-text {
    font-size: 1.75rem;
    padding: 0;
    margin-bottom: 64px;
  }
  .subscribe-form {
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-input {
    margin-bottom: 50px;
    padding: 40px 0 30px 60px;
    width: 100%;
    font-size: 1.3rem;
  }
  .subscribe-btn {
    padding: 32px;
  }
  .subscribe-form .subscribe-error-msg {
    font-size: 0.75rem;
    margin: 100px 0 0 60px;
  }
  .footer {
    padding: 31.25rem 3.75rem 3.125rem;
  }
  .footer-logo {
    width: 21.875rem;
    margin-left: 18px;
  }
  .footer-content {
    margin: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-contact {
    margin: 25px 0 30px;
  }
  .footer-location {
    max-width: unset;
    margin-right: unset;
    margin-bottom: 10px;
  }
  .footer-img,
  .footer-img-location {
    height: 32px;
  }
  .footer-img-location {
    margin-top: -120px;
  }
  .footer-text {
    font-size: 2rem;
    margin-left: 54px;
  }
  .footer-col-2 {
    font-size: 1.75rem;
    margin: 0 0 120px 0;
  }
  .number {
    margin-bottom: 35px;
  }
  .footer-col-3 {
    margin-top: 20px;
  }
  .footer-col-4 {
    margin-top: 60px;
    margin-bottom: 130px;
  }
  .footer-number,
  .footer-email {
    margin-left: 40px;
  }
  .footer-item {
    margin-bottom: 35px;
  }
  .footer-link {
    font-size: 1.875rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .socials-link {
    height: 50px;
    width: 50px;
  }
  .socials-link:nth-child(2) {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 30rem;
  }
  .navbar {
    padding: 48px 30px 40px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    width: 8.125rem;
  }
  .menu {
    margin-top: 40px;
  }
  .menu-item:nth-of-type(2) {
    padding: 0 25px;
  }
  .menu-link {
    font-size: 1rem;
    margin-left: 0;
  }
  .introduction {
    margin-top: 50px;
    background-image: url(./images/bg-curvy-mobile.svg);
    padding-bottom: 0px;
  }
  .introduction-img {
    max-width: 80%;
  }
  .intro-caption {
    font-size: 2.25rem;
    margin: 0 25px 30px;
  }
  .intro-text {
    font-size: 1.25rem;
    margin-bottom: 70px;
  }
  .btn {
    padding: 20px 100px;
    font-size: 1.25rem;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 200px 0px 100px;
  }
  .feature {
    margin-bottom: 8.75rem;
    padding: 0 20px;
  }
  .feature:nth-of-type(2) {
    margin-bottom: 9.6875rem;
    margin-left: 0;
    padding: 0 40px;
  }
  .feature:nth-of-type(3) {
    margin-bottom: 10rem;
  }
  .feature:nth-of-type(4) {
    margin-left: 0;
  }
  .feature-img {
    display: unset;
  }
  .feature-img .ft-img-1 {
    width: 80px;
    height: auto;
    margin-bottom: 44px;
  }
  .feature-img .ft-img-2 {
    width: 70px;
    height: auto;
    margin-bottom: 44px;
  }
  .feature-img .ft-img-3 {
    width: 100px;
    height: auto;
    margin-bottom: 50px;
  }
  .feature-img .ft-img-4 {
    width: 100px;
    height: auto;
    margin-bottom: 55px;
  }
  .feature-caption {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .feature-text {
    font-size: 1.125rem;
  }
  .feature-text-2 {
    padding: 0;
  }
  .productive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 25px;
  }
  .productive-img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
  }
  .productive-section {
    padding: 0;
    margin-bottom: 100px;
  }
  .productive-caption {
    font-size: 1.75rem;
    padding: 0;
    letter-spacing: unset;
    margin: 100px 30px 30px 5px;
  }
  .productive-text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .productive-text:nth-of-type(2) {
    margin-bottom: 35px;
  }
  .productive-cta {
    font-size: 1rem;
    border-bottom: 2px #65e2d9 solid;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 25px;
    margin: 80px 0 -115px;
    background-position: top 5px left 40px;
  }
  .testimonial {
    padding: 45px 30px 30px;
    width: unset;
    margin-bottom: 36px;
  }
  .testimonial-text {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 25px;
  }
  .testimonial-img {
    height: 32px;
    width: 32px;
  }
  .testimonial-about {
    margin-left: 15px;
  }
  .testimonial-name {
    font-size: 0.85rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .testimonial-position {
    font-size: 0.75rem;
    letter-spacing: 0.6px;
  }
  .subscription {
    margin: 0 40px;
    padding: 60px 50px 70px;
    top: 15.625rem;
  }
  .subscribe-caption {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .subscribe-text {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 64px;
  }
  .subscribe-form {
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-input {
    margin-bottom: 30px;
    padding: 20px 0 20px 30px;
    width: 100%;
    font-size: 0.9125rem;
  }
  .subscribe-btn {
    padding: 18px;
    font-size: 1rem;
  }
  .subscribe-form .subscribe-error-msg {
    margin: 60px 0 0 30px;
  }
  .footer {
    padding: 450px 35px 50px;
  }
  .footer-logo {
    width: 12.5rem;
    margin-left: 0px;
  }
  .footer-content {
    margin: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-contact {
    margin: 20px 0 25px;
  }
  .footer-location {
    max-width: unset;
    margin-right: unset;
    margin-bottom: 10px;
  }
  .footer-img,
  .footer-img-location {
    height: 25px;
  }
  .footer-img-location {
    margin-top: -45px;
  }
  .footer-text {
    font-size: 1.25rem;
    margin-left: 30px;
  }
  .footer-col-2 {
    font-size: 1rem;
    margin: 0 0 50px 0;
  }
  .number {
    margin-bottom: 25px;
  }
  .footer-col-3 {
    margin-top: 20px;
  }
  .footer-col-4 {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .footer-number,
  .footer-email {
    margin-left: 40px;
  }
  .footer-item {
    margin-bottom: 20px;
  }
  .footer-link {
    font-size: 1.125rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .socials-link {
    height: 35px;
    width: 35px;
  }
  .socials-link:nth-child(2) {
    margin: 0 15px;
  }
}
